# Our tests
project_tests/*

# Notes
notes/*

# In the case we do end up making an option to do this
extracted/*

# Pycache
__pycache__
*/__pycache__

# Env stuff
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
